# =========================
# Node / Frontend
# =========================
node_modules/
dist/
.vite/

# =========================
# Rust
# =========================
target/
**/*.wasm

# =========================
# Tauri
# =========================
src-tauri/target/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
